<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Dịch vụ</span>
                <h2 class="mb-3">Dịch vụ mới nhất của chúng tôi</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img src="/images/service-1.svg" />
                        @*<span class="flaticon-wedding-car"></span>*@
                    </div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Thuê xe cưới hỏi</h3>
                        <p>Ngày vui của bạn sẽ trở nên an toàn, tiết kiệm hơn bao giờ hết với dịch vụ của chúng tôi</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img src="/images/service-2.svg" />
                        @*<span class="flaticon-transportation"></span>*@
                    </div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Thuê xe du lịch</h3>
                        <p>Cam kết mang đến sự hài lòng cho bạn với tác phong nhanh chóng, đúng giờ, an toàn và tiết kiệm</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img src="/images/service-3.svg" />
                        @*<span class="flaticon-car"></span>*@
                    </div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Thuê xe thương mại</h3>
                        <p>Chúng tôi cung cấp dịch vụ chất lượng đảm bảo rằng bạn có một chuyến đi an toàn, thoải mái.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img src="/images/service-4.webp" />
                        @*<span class="flaticon-transportation"></span>*@
                    </div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Thuê xe dài hạn</h3>
                        <p>Bạn sẽ tiết kiệm thêm được một phần chi phí khi sử dụng dịch vụ thuê xe dài hạn của chúng tôi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-intro" style="background-image: url(images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section heading-section-white ftco-animate">
                <h2 class="mb-3">Bạn đang muốn tìm kiếm một chiếc xe.</h2>
                <a href="#" class="btn btn-primary btn-lg">Đặt xe ngay</a>
            </div>
        </div>
    </div>
</section>