@model DoAnWeb.Areas.Admin.Models.CreateCarModel;
@{
    ViewData["Title"] = "Thêm xe mới";
}
<div class="pagetitle">
    <h4 class="text-center">Thêm xe mới</h4>
</div><!-- End Page Title -->
<section class="section mt-4 container-fluid">
    <div class="row mt-3">
        <div class="col-md-1"></div>
        <div class="form-addnew col-md-12 d-flex">
            <form asp-action="CreateCar" asp-area="Admin" asp-controller="Cars" class="row" enctype="multipart/form-data" method="post" id="create-car">
                <div class="col-md-8">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-6 col-sm-12">
                            <label asp-for="Brand" class="form-label">Thương hiệu xe</label>
                            <input type="text" asp-for="Brand" placeholder="Nhập tên thương hiệu" class="form-control" id="brand">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label asp-for="Model" class="form-label">Dòng xe</label>
                            <input type="text" asp-for="Model" placeholder="Nhập tên dòng xe" class="form-control" id="model">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label asp-for="Color" class="form-label">Màu sắc</label>
                            <input type="text" asp-for="Color" placeholder="Nhập màu sắc xe" class="form-control" id="color">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label asp-for="Year" class="form-label">Năm sản xuất</label>
                            <input type="text" asp-for="Year" placeholder="Nhập năm sản xuất" class="form-control" id="year">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label asp-for="PricePerDay" class="form-label">Giá thuê</label>
                            <input type="text" asp-for="PricePerDay" placeholder="500.000 đ" class="form-control" id="price">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="avt-box px-4">
                        <input type="file" hidden multiple accept="image/*"
                               id="car-image"
                               asp-for="CarImages"
                               class="form-control"
                               onchange="document.getElementById('image-preview').src=window.URL.createObjectURL(this.files[0])"/>
                        <label for="car-image" style="cursor: pointer">
                            <img id="image-preview" src="~/images/default-car.png" class="w-100" alt="Ảnh xe"/>
                        </label>
                        <span class="text-danger mt-1">@TempData["ProductImage"]</span>
                        <span class="text-center d-block">Chọn ảnh xe</span>
                    </div>
                </div>

                <div class="col-md-12">
                    <label asp-for="Description" class="form-label">Thông tin chi tiết</label>
                    <textarea asp-for="Description" id="editor" placeholder="Nhập thông tin chi tiết của xe..." class="form-control"></textarea>
                </div>
                <div class="mt-5">
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                    <a class="btn mx-3 btn-secondary" asp-action="Index" asp-controller="Cars" asp-area="Admin">Hủy bỏ</a>
                </div>
            </form>

        </div>
    </div>
</section>

@section Scripts
{
    <script>
            CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
                toolbar: {
                    items: [
                        'findAndReplace', 'selectAll', '|',
                        'heading', '|',
                        'bold', 'italic', 'underline', 'code', '|',
                        'bulletedList', 'numberedList', 'todoList', '|',
                        'outdent', 'indent', '|',
                        'undo', 'redo',
                        '-',
                        'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                        'alignment', '|',
                        'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed'
                    ],
                    shouldNotGroupWhenFull: true
                },
                list: {
                    properties: {
                        styles: true,
                        startIndex: true,
                        reversed: true
                    }
                },
                heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                        { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                        { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                        { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                    ]
                },
                placeholder: 'Nhập thông tin chi tiết...',
                fontFamily: {
                    options: [
                        'default',
                        'Arial, Helvetica, sans-serif',
                        'Courier New, Courier, monospace',
                        'Georgia, serif',
                        'Lucida Sans Unicode, Lucida Grande, sans-serif',
                        'Tahoma, Geneva, sans-serif',
                        'Times New Roman, Times, serif',
                        'Trebuchet MS, Helvetica, sans-serif',
                        'Verdana, Geneva, sans-serif'
                    ],
                    supportAllValues: true
                },
                fontSize: {
                    options: [10, 12, 14, 'default', 18, 20, 22],
                    supportAllValues: true
                },
                htmlSupport: {
                    allow: [
                        {
                            name: /.*/,
                            attributes: true,
                            classes: true,
                            styles: true
                        }
                    ]
                },
                htmlEmbed: {
                    showPreviews: true
                },
                link: {
                    decorators: {
                        addTargetToExternalLinks: true,
                        defaultProtocol: 'https://',
                        toggleDownloadable: {
                            mode: 'manual',
                            label: 'Downloadable',
                            attributes: {
                                download: 'file'
                            }
                        }
                    }
                },
    
                removePlugins: [
                    'AIAssistant',
                    'CKBox',
                    'CKFinder',
                    'EasyImage',
                    'RealTimeCollaborativeComments',
                    'RealTimeCollaborativeTrackChanges',
                    'RealTimeCollaborativeRevisionHistory',
                    'PresenceList',
                    'Comments',
                    'TrackChanges',
                    'TrackChangesData',
                    'RevisionHistory',
                    'Pagination',
                    'WProofreader',
                    'MathType',
                    'SlashCommand',
                    'Template',
                    'DocumentOutline',
                    'FormatPainter',
                    'TableOfContents',
                    'PasteFromOfficeEnhanced'
                ]
            })
                .then(editor => {
                    window.editor = editor;
                })
                .catch(error => {
                    console.error(error);
                });
                   const validator = new JustValidate('#create-car', {
                        validateBeforeSubmitting: true,
                    });
                    validator.addField('#brand', [
                        {
                            rule: 'required',
                            errorMessage: 'Trường này không được để trống',
                        },
                    ]);      
                    validator.addField('#model', [
                        {
                            rule: 'required',
                            errorMessage: 'Trường này không được để trống',
                        },
                    ]);      
                    validator.addField('#color', [
                        {
                            rule: 'required',
                            errorMessage: 'Trường này không được để trống',
                        },
                    ]);      
                    validator.addField('#year', [
                        {
                            rule: 'required',
                            errorMessage: 'Trường này không được để trống',
                        },
                        {
                            rule: 'integer',
                            errorMessage: 'Trường này phải là số',
                        },
                    ]);      
                    validator.addField('#price', [
                        {
                            rule: 'required',
                            errorMessage: 'Trường này không được để trống',
                        },
                        {
                            rule: 'number',
                            errorMessage: 'Trường này phải là số',
                        },
                    ]);
                    validator.onSuccess(function () {
                        $('#create-car').submit();
                    });
        </script>
}