<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Tổng quan</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#account-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Quản lý người dùng</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="account-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-action="Index" asp-controller="Account">
                        <i class="bi bi-circle"></i><span>Danh sách người dùng</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Account">
                        <i class="bi bi-circle"></i><span>Thêm mới người dùng</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý Menu</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-action="Index" asp-controller="Menu">
                        <i class="bi bi-circle"></i><span>Danh sách Menu</span>
                    </a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Menu">
                        <i class="bi bi-circle"></i><span>Thêm mới Menu</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i><span>Quản lý xe</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-action="Index" asp-controller="Cars" asp-area="Admin">
                        <i class="bi bi-circle"></i><span>Danh sách xe</span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreateCar" asp-controller="Cars" asp-area="Admin">
                        <i class="bi bi-circle"></i><span>Thêm xe mới</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Charts Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#order-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Quản lý thuê xe</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="order-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-action="Index" asp-controller="Orders" asp-area="Admin">
                        <i class="bi bi-circle"></i><span>Danh sách đơn thuê</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Icons Nav -->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-gem"></i><span>Quản lý bài viết</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-action="Index" asp-controller="Post" asp-area="Admin">
                        <i class="bi bi-circle"></i><span>Danh sách bài viết</span>
                    </a>
                </li>
                <li>
                    <a asp-action="CreatePost" asp-controller="Post" asp-area="Admin">
                        <i class="bi bi-circle"></i><span>Thêm mới bài viết</span>
                    </a>
                </li>
                <li>
                    <a asp-action="GoToTrash" asp-controller="Post" asp-area="Admin">
                        <i class="bi bi-circle"></i><span>Bài viết đã bị xóa</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End Profile Page Nav -->
    </ul>
</aside>