@model DoAnWeb.Models.AdminMenu
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
    <div class="pagetitle">
        <h2>Xác nhận xoá menu</h2>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <lable asp-for="MenuId">MenuId</lable>
            <input type="text" class="form-control mb-3" asp-for="AdminMenuId" disabled>
        </div>
        <div class="form-group col-md-6">
            <lable asp-for="MenuId">MenuName</lable>
            <input type="text" class="form-control mb-3" asp-for="ItemName" disabled>
        </div>
    </div>
    <!--Begin Form-->
    <form asp-action="Delete" asp-controller="AdminMenu" method="post">
        <input type="hidden" asp-for="AdminMenuId" />
        <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i>
            Quay lại
        </a>
        <button type="submit" class="btn btn-lg btn-danger p-2">
            <i class="bi bi-trash-fill"></i>
            Xoá menu
        </button>
    </form>
    <!--End Form-->
